<html>
	<head>
		<title>Add New Pet</title>
	</head>

	<body>
		<form action="http://localhost:8080/add" method="POST">
			<input type = "text" name="pet_name" placeholder="Pet Name">
			<select name="pet_category">
				<option value="cat">Cat</option>
				<option value="dog">Dog</option>
				<option value="horse">Horse</option>
			</select>
			<input type = "text" name="pet_age" placeholder="Pet Age">
			<input type = "text" name="pet_breed" placeholder="Pet Breed">
			<label for="male">Male</label>
			<input type = "radio" id="male" name="pet_gender" value="Male">
			<label for ="female">Female</label>
			<input type = "radio" id="female" name="pet_gender" value="Female">
			<input type="submit">
		</form>
	</body>
</html>